        <div class="container d-flex justify-content-center align-items-center h-100">
            <div class="row">
                <div class="col-md-6">
                    <div class="header-info">
                        <h1>GEORGIAN'S FINEST WEB DEVELOPERS.</h1>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam alias obcaecati fugiat libero amet quaerat eveniet aperiam tenetur quisquam molestias.</p>
                        <button>Contact Us</button>
                        <button>Past Work</button>
                    </div>
                </div>
                <div class="col-md-6 mt-5">
                    <img class="hero-img d-block mx-auto" src="/comp2068portfolio/public/images/header-pc.svg" alt="">
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="who-we-are my-5">
            <div class="container">
                <div class="row">
                    <div class="who-we-are-header text-center mb-5">
                        <h2>Who we are</h2>
                        <div class="blue-underline mx-auto"></div>
                    </div>
                </div>
                <div class="row py-5">
                    <div class="col-md-6">
                        <div class="fake-picture"></div>
                    </div>
                    <div class="col-md-6">
                        <div class="person-info">
                            <h2>Rachana</h2>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus, tempore excepturi? Ab, odit nisi velit iure doloribus repellendus adipisci. Voluptas.</p>
                        </div>
                    </div>
                </div>
                <div class="row py-5" style="background-color: #F8F8F8;">
                    <div class="col-md-6">
                        <h2>Disha</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus, tempore excepturi? Ab, odit nisi velit iure doloribus repellendus adipisci. Voluptas.</p>
                    </div>
                    <div class="col-md-6">
                        <div class="person-info">
                            <div class="fake-picture"></div>
                        </div>
                    </div>
                </div>
                <div class="row py-5">
                    <div class="col-md-6">
                        <div class="fake-picture"></div>
                    </div>
                    <div class="col-md-6">
                        <div class="person-info">
                            <h2>Dylan</h2>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus, tempore excepturi? Ab, odit nisi velit iure doloribus repellendus adipisci. Voluptas.</p>
                        </div>
                    </div>
                </div>
                <div class="row py-5" style="background-color: #F8F8F8;">
                    <div class="col-md-6">
                        <h2>Kulpreet</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus, tempore excepturi? Ab, odit nisi velit iure doloribus repellendus adipisci. Voluptas.</p>
                    </div>
                    <div class="col-md-6">
                        <div class="person-info">
                            <div class="fake-picture"></div>
                        </div>
                    </div>
                </div>
                <div class="row py-5">
                    <div class="col-md-6">
                        <div class="fake-picture"></div>
                    </div>
                    <div class="col-md-6">
                        <div class="person-info">
                            <h2>Tanupreet</h2>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus, tempore excepturi? Ab, odit nisi velit iure doloribus repellendus adipisci. Voluptas.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="why-different my-5">
            <div class="container">
                <div class="row mb-5">
                    <h2 class="text-center">Why are we different</h2>
                    <div class="blue-underline mx-auto"></div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="why-card">
                            <div class="why-card-header d-flex align-items-center">
                                <img src="/comp2068portfolio/public/images/support.svg" alt="">
                                <p class="m-0">SUPPORT</p>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, asperiores.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="why-card">
                            <div class="why-card-header d-flex align-items-center">
                                <img src="/comp2068portfolio/public/images/testing.svg" alt="">
                                <p class="m-0">SUPPORT</p>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, asperiores.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="why-card">
                            <div class="why-card-header d-flex align-items-center">
                                <img src="/comp2068portfolio/public/images/fairprice.svg" alt="">
                                <p class="m-0">SUPPORT</p>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, asperiores.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section style="background-color: #F8F8F8;" class="languages my-5 py-5">
            <div class="container">
                <div class="row">
                    <div class="languages-header mb-5">
                        <h2 class="text-center">Languages we work with</h2>
                        <div class="blue-underline mx-auto"></div>
                    </div>
                    <div class="logocontainer d-flex justify-content-center">
                        <img class="mx-5" src="/comp2068portfolio/public/images/jslogo.svg" alt="">
                        <img class="mx-5" src="/comp2068portfolio/public/images/clogo.svg" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="past-projects my-5">
            <div class="container">
                <div class="different-heading mb-5">
                    <h2 class="text-center ">Why are we different</h2>
                    <div class="blue-underline mx-auto"></div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="project-card">
                            <div class="fake-img"></div>
                            <h3>Proj 1</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, ut!</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="fake-img"></div>
                        <h3>Proj 2</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, ut!</p>
                    </div>
                    <div class="col-md-4">
                        <div class="fake-img"></div>
                        <h3>Proj 3</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, ut!</p>
                    </div>
                </div>
            </div>
        </section>
        <section style="background-color: #F8F8F8;" class="contact-us mt-5 py-5">
            <div class="container">
                <h2 class="text-center">Contact us</h2>
                <div class="blue-underline mx-auto"></div>
                <div class="row text-center">
                    <div class="col-md-6">
                        <p>contact info here</p>
                    </div>
                    <div class="col-md-6">
                        <p>contact form here </p>
                    </div>
                </div>
            </div>
        </section>
    </main>